{% extends 'base.html.twig' %}

{% block title %}
	A propos
{% endblock %}

{% block body %}
	<style></style>

	<section>
		{# Commentaire dans u fichier twig #}
		<h1>
			{{ title }}! ✅
						            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis dolorem cupiditate dolore consequuntur, aliquid laudantium, alias earum facere est ipsa non labore autem sequi possimus repellat amet, dolor inventore ab.
		</h1>
	</section>
{% endblock %}
