{% extends 'base.html.twig' %}

{% block title %}
	A propos
{% endblock %}

{% block body %}
	<style></style>

	<section>
		{# Commentaire dans u fichier twig #}
		<h1>
			{{ title }}! ✅
		</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ex vero atque. Explicabo mollitia pariatur, magnam accusamus aliquam, ab doloremque deserunt tempora eius fugiat, perferendis id commodi assumenda ipsam nesciunt.</p>
	</section>
{% endblock %}
