{% extends 'base.html.twig' %}

{% block title %}
	A propos
{% endblock %}

{% block body %}
	<style></style>

	<section>
		{# Commentaire dans u fichier twig #}
		<h1>
			{{ title }}! ✅
		</h1>
	</section>
{% endblock %}
